<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create wishlist</title>
    <link rel="styleSheet" th:href="@{/style.css}"/>
</head>
<body>
<nav>
    <div><a href="/" title="Gå tilbage til forsiden">Wishlist</a></div>
</nav>

<div>
    <form action="#" th:action="@{/wishes/login}" th:object="${account}" method="post">
        <label for="accountUsername">Enter a username</label>
        <input id="accountUsername" type="text" th:field="${account.username}" th:placeholder="username">
        <label for="accountPassword">Enter a password</label>
        <input id="accountPassword" type="text" th:field="${account.password}" th:placeholder="password">
        <button class="formButton" type="submit">Log in</button>
        <a class="formButton" th:href="@{/}">Back</a>
    </form>
</div>

</body>
</html>