
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish</title>
    <link th:href="@{/style.css}" rel="styleSheet"/>
</head>
<body>
<h1 class="textBox">Wish:</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
    <tr>
        <td th:text="${wish.name}"></td>
        <td th:text="${wish.description}"></td>
        <td th:text="${wish.url}"></td>
    </tr>
</table>
<form action="#"  th:action="@{/wishes/{name}(name=${wish.name})/edit}" method="post">
    <button class="linkToButton" type="submit">edit wish</button>
</form>
<form action="#" th:action="@{/wishes/{name}(name=${wish.name})/delete}" method="post">
    <button class="linkToButton" type="submit">delete wish</button>
</form>
<a class="linkToButton" th:href="@{${redirectionUrl}}">back to wishlist</a>
</body>
</html>
