<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish</title>
    <link th:href="@{/style.css}" rel="styleSheet"/>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div id="viewWishBox">
    <h1 class="textBox">Wish</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Link</th>
        </tr>
        <tr>
            <td th:text="${wish.name}"></td>
            <td th:text="${wish.description}"></td>
            <td><a class="wishlistButton" th:href="${wish.url}">Link</a></td>
            <td>
                <a class="wishlistButton" th:href="@{/wishes/{title}/{name}/edit(title=${title}, name=${wish.name})}">Edit wish</a>
                </form>
            </td>
            <td>
                <form class="wishlistButtonForm" action="#" th:action="@{/wishes/{name}(name=${wish.name})/delete}"
                      method="post">
                    <button class="wishlistButton" type="submit">Delete wish</button>
                </form>
            </td>
        </tr>
    </table>
    <a class="wishlistButton" th:href="@{/wishes/{back}(back=${redirectionUrl})}">Back to wishlist</a>
</div>
</body>
</html>
