
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wish</title>
    <link th:href="@{/style.css}" rel="styleSheet"/>
</head>
<body>
<h1 class="textBox">Wish:</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
    <tr>
        <td th:text="${wish.name}"></td>
        <td th:text="${wish.description}"></td>
        <td th:text="${wish.url}"></td>
    </tr>
</table>

<a class="linkToButton" th:href="@{/wishes}">back</a>
</body>
</html>
