
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link th:href="@{/style.css}" rel="styleSheet"/>
</head>
<body>
<h1 class="textBox">Wishes:</h1>
<table>
    <tr th:if="${wishlist.wishes.isEmpty()}">There are no wishes in this wishlist</tr>
    <tr th:if="${!wishlist.wishes.isEmpty()}">
        <th>Name</th>
        <th>Description</th>
        <th>Link</th>
    </tr>
    <tr th:each="wish: ${wishlist.wishes}">
        <td th:text="${wish.name}"></td>
        <td th:text="${wish.description}"></td>
        <td th:text="${wish.url}"></td>
        <td>
            <a class="linkToButton" th:href="@{/wishes/{title}/{name}/view(title=${wishlist.title}, name=${wish.name})}">Open</a>
        </td>
    </tr>
</table>

<a class="linkToButton" th:href="@{/wishes}">Add new wishlist</a>
</body>
</html>
